<ion-content>
  <div
    class="flex flex-col items-center h-screen overflow-hidden bg-[#0b1522] pt-54"
  >
    <!-- Heart Animation Container -->
    <div class="heart-container">
      <div class="circle layer1"></div>
      <div class="circle layer2"></div>
      <div class="circle layer3"></div>
      <div class="heart"></div>
    </div>

    <!-- White Rounded Card (Stats) -->
    <div
      class="absolute bottom-32 p-6 w-11/12 max-w-md rounded-3xl bg-white text-black shadow-xl text-center"
    >
      <p class="text-gray-500 text-sm">08/06, Heart Rate</p>
      <div class="text-5xl font-bold tracking-widest my-2">076</div>
      <div class="flex justify-between mt-4 text-lg">
        <div class="text-lg">
          <p class="text-gray-500">Min</p>
          <p class="font-semibold">50</p>
        </div>
        <div class="text-lg">
          <p class="text-gray-500">Max</p>
          <p class="font-semibold">148</p>
        </div>
        <div class="text-lg">
          <p class="text-gray-500">Avg</p>
          <p class="font-semibold">86</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
