<ion-content>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="max-w-md mx-auto p-8 h-screen shadow-lg rounded-lg space-y-6"
  >
    <div>
      <label for="email" class="block text-lg font-medium text-white mb-2"
        >Email</label
      >
      <input
        id="email"
        formControlName="email"
        type="email"
        class="mt-2 block w-full border border-white rounded-lg shadow-sm text-lg h-12"
      />
      <div
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
        class="text-teal-600 text-sm mt-2"
      >
        Valid email is required.
      </div>
    </div>

    <div>
      <label for="password" class="block text-lg font-medium text-white mb-2"
        >Password</label
      >
      <input
        id="password"
        formControlName="password"
        type="password"
        class="mt-2 block w-full border border-white rounded-lg shadow-sm text-lg h-12"
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="text-red-500 text-md mt-2"
      >
        Password is required.
      </div>
    </div>

    <div
      class="w-full bg-white content-center justify-center flex items-center text-black py-3 px-4 rounded-lg h-10"
      (click)="onSubmit()"
    >
      Sign in
    </div>

    <div class="text-center text-sm text-white mt-6">
      Don't have an account?
      <a routerLink="/auth/register" class="text-indigo-600 hover:underline"
        >Sign up</a
      >
    </div>
  </form>
</ion-content>
