<ion-content>
  <div class="flex justify-center items-center content-center flex-col h-full">
    <div
      class="flex w-[80%] flex-col items-center content-center overflow-hidden"
    >
      <div
        class="flex items-center content-center justify-between w-full mb-5 gap-2"
      >
        <div class="min-w-[90px]">Telegram ID:</div>
        <div class="text-black w-full">
          <input
            id="telegramId"
            placeholder="Enter Telegram ID"
            [(ngModel)]="telegramId"
            class="w-full bg-white content-center justify-center flex items-center py-3 px-4 rounded-lg h-10"
          />
        </div>
      </div>

      <div
        class="w-full bg-white content-center justify-center flex items-center text-black py-3 px-4 rounded-lg h-10"
        (click)="updateTelegramId()"
      >
        Update Telegram ID
      </div>
    </div>
    <div
      class="w-[80%] bg-red-400 content-center justify-center flex items-center text-white py-3 px-4 rounded-lg h-10 mt-5"
      (click)="onLogout()"
    >
      Logout
    </div>
  </div>
</ion-content>
